// COLORS
$primary-color: #d3fbd8;
$secondary-color: #00c6ae;

$white-color: #354353;

$dark-grey: #ffffff;
$light-grey: #fff6f6;

$dark-blue-text: #dddbec; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
